# Model Building using XGBoostRegresor

In [ ]:
#import the necessary libraries
import pandas as pd
import numpy as np
import xgboost as xgb
from xgboost import XGBRegressor
import pickle

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# read the training, validation and test datasets
test = pd.read_csv('/content/drive/My Drive/CourseraProject/data/test.csv')
X_train = pd.read_csv('/content/drive/My Drive/CourseraProject/data/X_train.csv')
X_cv = pd.read_csv('/content/drive/My Drive/CourseraProject/data/X_cv.csv')
X_test = pd.read_csv('/content/drive/My Drive/CourseraProject/data/X_test.csv')

In [ ]:
test.head(3)

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233

In [ ]:
X_train.head(3)

   shop_id  ...  item_cnt_day_lag_1
0       27  ...                 1.0
1       27  ...                 0.0
2       27  ...                 2.0

[3 rows x 15 columns]

In [ ]:
X_cv.head(3)

   shop_id  ...  item_cnt_day_lag_1
0       45  ...                 0.0
1       45  ...                 0.0
2       45  ...                 1.0

[3 rows x 15 columns]

In [ ]:
X_test.head()

   shop_id  ...  item_cnt_day_lag_1
0        5  ...                 0.0
1        5  ...                 0.0
2        5  ...                 1.0
3        5  ...                 0.0
4        5  ...                 0.0

[5 rows x 15 columns]

In [4]:
X_test.shape

(214200, 25)

In [ ]:
# Let's install the xgboost
!pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.18.4)

# Hyperparameter Tuning

Due to unavailibility of the computational resources, this part is skipped.

In [5]:
cols = [c for c in X_train.columns if c not in ['date_block_num', 'item_cnt_day',]]

x1 = X_train[cols]
y1 = X_train['item_cnt_day']
x2 = X_cv[cols]
y2 = X_cv['item_cnt_day']

# Taking tuning parameters from Kaggle notebook
model = xgb.XGBRegressor(eta=0.01, max_depth=10,n_estimators=1000,
                             colsample_bytree=0.5,subsample=0.8,
                             gamma=2, reg_alpha=0, reg_lambda=2, min_child_weight=300,
                             tree_method='gpu_hist', gpu_id=0, max_bin=2048,
                             n_jobs=-1)
model.fit(x1,y1,eval_set=[(x1,y1),(x2,y2)],eval_metric='rmse',early_stopping_rounds=50)

[06:31:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:1.40006	validation_1-rmse:1.37801
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 50 rounds.
[1]	validation_0-rmse:1.35142	validation_1-rmse:1.3428
[2]	validation_0-rmse:1.3069	validation_1-rmse:1.30836
[3]	validation_0-rmse:1.27657	validation_1-rmse:1.28801
[4]	validation_0-rmse:1.24457	validation_1-rmse:1.26443
[5]	validation_0-rmse:1.22012	validation_1-rmse:1.24648
[6]	validation_0-rmse:1.19558	validation_1-rmse:1.22738
[7]	validation_0-rmse:1.18014	validation_1-rmse:1.21655
[8]	validation_0-rmse:1.15947	validation_1-rmse:1.20044
[9]	validation_0-rmse:1.14457	validation_1-rmse:1.18931
[10]	validation_0-rmse:1.133	validation_1-rmse:1.18418
[11]	validation_0-rmse:1.12048	validation_1-rmse:1.17683
[12]	validation_0-rmse:1.11378	validation_1-rmse:1.17386
[13]	validation_0-rmse:1.10629	validation_1-rmse:1.16932
[14]	validation_0-rmse:1.09852	validation_1-rmse:1.16415
[15]	validation_0-rmse:1.09448	validation_1-rmse:1.16271
[16]	validation_0-rmse:1.08866	validation_1-rmse:1.15949
[17]	validation_0-rmse:1.08037	validation_1-rmse:1.15467
[18]	validation_0-rmse:1.07585	validation_1-rmse:1.1522
[19]	validation_0-rmse:1.07223	validation_1-rmse:1.15094
[20]	validation_0-rmse:1.06631	validation_1-rmse:1.14889
[21]	validation_0-rmse:1.06145	validation_1-rmse:1.14759
[22]	validation_0-rmse:1.05681	validation_1-rmse:1.14766
[23]	validation_0-rmse:1.05326	validation_1-rmse:1.14809
[24]	validation_0-rmse:1.04986	validation_1-rmse:1.14561
[25]	validation_0-rmse:1.04693	validation_1-rmse:1.1441
[26]	validation_0-rmse:1.04458	validation_1-rmse:1.14306
[27]	validation_0-rmse:1.04308	validation_1-rmse:1.14301
[28]	validation_0-rmse:1.04069	validation_1-rmse:1.14393
[29]	validation_0-rmse:1.03936	validation_1-rmse:1.14362
[30]	validation_0-rmse:1.03786	validation_1-rmse:1.14414
[31]	validation_0-rmse:1.0362	validation_1-rmse:1.14363
[32]	validation_0-rmse:1.0351	validation_1-rmse:1.14355
[33]	validation_0-rmse:1.03428	validation_1-rmse:1.14348
[34]	validation_0-rmse:1.03246	validation_1-rmse:1.14332
[35]	validation_0-rmse:1.03168	validation_1-rmse:1.14332
[36]	validation_0-rmse:1.03069	validation_1-rmse:1.1433
[37]	validation_0-rmse:1.02953	validation_1-rmse:1.14345
[38]	validation_0-rmse:1.02904	validation_1-rmse:1.14365
[39]	validation_0-rmse:1.02783	validation_1-rmse:1.14376
[40]	validation_0-rmse:1.02689	validation_1-rmse:1.14471
[41]	validation_0-rmse:1.02638	validation_1-rmse:1.14465
[42]	validation_0-rmse:1.02583	validation_1-rmse:1.14467
[43]	validation_0-rmse:1.02549	validation_1-rmse:1.14466
[44]	validation_0-rmse:1.02436	validation_1-rmse:1.14503
[45]	validation_0-rmse:1.02407	validation_1-rmse:1.14506
[46]	validation_0-rmse:1.02344	validation_1-rmse:1.1452
[47]	validation_0-rmse:1.02294	validation_1-rmse:1.14525
[48]	validation_0-rmse:1.02255	validation_1-rmse:1.14509
[49]	validation_0-rmse:1.02183	validation_1-rmse:1.14563
[50]	validation_0-rmse:1.02163	validation_1-rmse:1.14558
[51]	validation_0-rmse:1.02118	validation_1-rmse:1.1457
[52]	validation_0-rmse:1.02072	validation_1-rmse:1.14586
[53]	validation_0-rmse:1.0206	validation_1-rmse:1.14598
[54]	validation_0-rmse:1.02009	validation_1-rmse:1.14605
[55]	validation_0-rmse:1.01966	validation_1-rmse:1.14589
[56]	validation_0-rmse:1.01919	validation_1-rmse:1.1457
[57]	validation_0-rmse:1.01834	validation_1-rmse:1.1456
[58]	validation_0-rmse:1.01806	validation_1-rmse:1.14558
[59]	validation_0-rmse:1.01781	validation_1-rmse:1.14531
[60]	validation_0-rmse:1.01768	validation_1-rmse:1.14519
[61]	validation_0-rmse:1.01759	validation_1-rmse:1.14517
[62]	validation_0-rmse:1.01743	validation_1-rmse:1.14533
[63]	validation_0-rmse:1.0171	validation_1-rmse:1.14545
[64]	validation_0-rmse:1.0166	validation_1-rmse:1.14539
[65]	validation_0-rmse:1.01651	validation_1-rmse:1.14542
[66]	validation_0-rmse:1.01642	validation_1-rmse:1.14538
[67]	validation_0-rmse:1.01617	validation_1-rmse:1.14543
[68]	validation_0-rmse:1.01601	validation_1-rmse:1.1455
[69]	validation_0-rmse:1.01513	validation_1-rmse:1.14555
[70]	validation_0-rmse:1.01505	validation_1-rmse:1.14552
[71]	validation_0-rmse:1.01497	validation_1-rmse:1.14548
[72]	validation_0-rmse:1.01474	validation_1-rmse:1.14548
[73]	validation_0-rmse:1.01463	validation_1-rmse:1.14556
[74]	validation_0-rmse:1.01411	validation_1-rmse:1.14521
[75]	validation_0-rmse:1.01406	validation_1-rmse:1.14514
[76]	validation_0-rmse:1.01388	validation_1-rmse:1.14515
[77]	validation_0-rmse:1.01298	validation_1-rmse:1.14466
Stopping. Best iteration:
[27]	validation_0-rmse:1.04308	validation_1-rmse:1.14301

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.5, eta=0.01, gamma=2,
             gpu_id=0, importance_type='gain', learning_rate=0.1, max_bin=2048,
             max_delta_step=0, max_depth=10, min_child_weight=300, missing=None,
             n_estimators=1000, n_jobs=-1, nthread=None, objective='reg:linear',
             random_state=0, reg_alpha=0, reg_lambda=2, scale_pos_weight=1,
             seed=None, silent=None, subsample=0.8, tree_method='gpu_hist',
             verbosity=1)

In [7]:
pickle.dump(model, open("drive/My Drive/CourseraProject/data/xgb.pickle.dat", "wb"))
model = pickle.load(open("drive/My Drive/CourseraProject/data/xgb.pickle.dat", "rb"))

pred = model.predict(X_test[cols], ntree_limit=model.best_ntree_limit)

test['item_cnt_month'] = pred.clip(0,20)
test.drop(['shop_id', 'item_id'], axis=1, inplace=True)
test.to_csv('drive/My Drive/CourseraProject/data/submission.csv', index=False)

[06:31:57] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.